---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout class="flex items-center justify-center" primaryColor="blue">
  <h1 class="text-4xl text-white dark:text-gh-dimmed-text font-pixelify">
    404 Not Found
  </h1>
</BaseLayout>
