---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Card from '@/components/Card.astro'
import Button from '@/components/Button.astro'
---

<BaseLayout>
  <div>
    <div class="text-white dark:text-gh-dimmed-text">
      <h2 class="font-pixelify text-4xl font-bold mb-2">&gt; Articles</h2>
      <p class="mb-6">Godot Engineに関する技術記事です。</p>
    </div>
    <div class="flex flex-wrap">
      <div class="p-2 w-1/2 md:w-1/3">
        <Card />
      </div>
      <div class="p-2 w-1/2 md:w-1/3">
        <Card />
      </div>
      <div class="p-2 w-1/2 md:w-1/3">
        <Card />
      </div>
    </div>
  </div>
  <div class="text-right mt-6">
    <Button>See all posts -></Button>
  </div>
</BaseLayout>
