---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Card from '@/components/Card.astro'
import ButtonLink from '@/components/ButtonLink.astro'
import IconLabel from '@/components/IconLabel.astro'
import TagChip from '@/components/TagChip.astro'
import { getRecentEntries, getAllTags } from '@/utils'
import { primaryBgClass } from '@/siteConfig'

const displayLimit = 3
const recentArticles = await getRecentEntries(displayLimit, 'articles')
const recentNotes = await getRecentEntries(displayLimit, 'notes')

const allTags = await getAllTags()
---

<BaseLayout primaryColor="blue" disableAutoContaier>
  <div class="container mx-auto px-4 py-8">
    <div class="text-white dark:text-gh-dimmed-text">
      <IconLabel
        name="book-blue"
        isLargeIcon
        class="font-ps2 text-xl font-bold mb-2">Articles</IconLabel
      >
      <p>Godot Engine を使ったゲーム開発に関する記事です。</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
      {
        recentArticles.map((entry) => (
          <Card primaryColor="blue" entry={entry} />
        ))
      }
    </div>
    <div class="text-right my-4">
      <ButtonLink primaryColor="blue" href="/articles">
        All Posts >
      </ButtonLink>
    </div>
    <div class="text-white dark:text-gh-dimmed-text">
      <IconLabel
        name="clownfish"
        isLargeIcon
        class="font-ps2 text-xl font-bold mb-2">Tags</IconLabel
      >
      <p>タグから記事を検索できます。</p>
    </div>
    <div class="mt-8 flex flex-wrap gap-2">
      {allTags.map((tag) => <TagChip label={tag} isLarge />)}
    </div>
  </div>
  <div class:list={[primaryBgClass['green'], 'fadein']}></div>
  <div class={primaryBgClass['green']}>
    <div class="container mx-auto px-4 py-8">
      <div class="text-white dark:text-gh-dimmed-text">
        <IconLabel
          name="book-green"
          isLargeIcon
          class="font-ps2 text-xl font-bold mb-2">Notes</IconLabel
        >
        <p>Godot Engine に限らない様々なトピックを扱う記事です。</p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
        {
          recentNotes.map((entry) => (
            <Card primaryColor="green" entry={entry} />
          ))
        }
      </div>
      <div class="text-right my-4">
        <ButtonLink primaryColor="green" href="/notes">
          All Posts >
        </ButtonLink>
      </div>
    </div>
  </div>
  <div class:list={[primaryBgClass['green'], 'fadeout']}></div>
</BaseLayout>

<style>
  .fadein {
    height: 64px;
    mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABAAQMAAAAps2XVAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAACxJREFUCNdVyjERADAQAsE4eP8uzwEpD5itgNc5TUB+tq9h/6eg7onmH1GiD3xvP8FJ3ZmlAAAAAElFTkSuQmCC');
  }

  .fadeout {
    height: 64px;
    mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABAAQMAAAAps2XVAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAC1JREFUCNdVyrENADAQwsDfgP23ZAPSxYCusrgExnQJfLbHmL9x+qZXnt4Teg9X0j/BnRwF+gAAAABJRU5ErkJggg==');
  }
</style>
