---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Card from '@/components/Card.astro'
import ButtonLink from '@/components/ButtonLink.astro'
import { getRecentEntries } from '@/utils'

const displayLimit = 3
const recentArticles = await getRecentEntries(displayLimit, 'articles')
---

<BaseLayout>
  <div class="mx-4">
    <div class="text-white dark:text-gh-dimmed-text my-8">
      <h2 class="font-pixelify text-4xl font-bold mb-2">&gt; Articles</h2>
      <p>Godot Engineに関する技術記事です。</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {recentArticles.map((entry) => <Card entry={entry} />)}
    </div>
    <div class="text-right my-8">
      <ButtonLink href="/articles">See all posts -></ButtonLink>
    </div>
  </div>
</BaseLayout>
