---
import type { HTMLAttributes } from 'astro/types'
import PixelContainer from '@/components/PixelContainer.astro'

interface Props extends HTMLAttributes<'a'> {}

const { class: classNames, ...attrs } = Astro.props

const disabled = attrs.href == null
---

<a class={classNames} {...attrs}>
  <PixelContainer
    class:list={[
      'inline-block font-pixelify p-2 text-xl text-godot',
      { 'hover:-translate-x-0.5 hover:-translate-y-0.5': !disabled },
      { 'opacity-50': disabled },
    ]}
  >
    <slot />
  </PixelContainer>
</a>
