---
import { Icon } from 'astro-icon'
import PixelContainer from '@/components/PixelContainer.astro'
// interface Props {
//   title: string
//   body: string
//   href: string
// }

// const { href, title, body } = Astro.props
---

<a class="inline-block" href="#">
  <PixelContainer
    class="bg-white dark:bg-gh-dimmed-bg hover:-translate-x-0.5 hover:-translate-y-0.5 h-full p-2 flex flex-col"
  >
    <img class="w-full" src="/800x450.png" alt="Card image" />
    <div class="p-4 flex flex-col justify-between h-full">
      <div class="font-bold">タイトルサンプル</div>
      <div class="mt-2 flex flex-wrap items-center text-xs font-pixelify">
        <div class="flex items-center mr-2">
          <Icon name="clock" class="h-4 w-4 mr-1 text-godot" alt="clock icon" />
          <span>2023-11-11</span>
        </div>
        <div class="flex items-center">
          <Icon
            name="kodot-solid"
            class="h-4 w-4 mr-1 text-godot"
            alt="kodot icon"
          />
          <span>v4</span>
        </div>
      </div>
    </div>
  </PixelContainer>
</a>
