---
import Icon from '@/components/Icon.astro'
import type { HTMLAttributes } from 'astro/types'
import { type PrimaryColor, primaryTextClass } from '@/siteConfig'

export type Props = HTMLAttributes<'span'> & {
  name: string
  alt?: string
  primaryColor?: PrimaryColor
  isLargeIcon?: boolean
  labelClass?: string
}

const {
  name,
  alt,
  primaryColor,
  class: classNames,
  isLargeIcon,
  labelClass,
  ...attrs
} = Astro.props
---

<span class:list={['flex items-center', classNames]} {...attrs}>
  <Icon
    name={name}
    class:list={[
      isLargeIcon ? 'h-8 w-8 mr-2' : 'h-4 w-4 mr-1',
      primaryColor && primaryTextClass[primaryColor],
    ]}
  />
  <span class={labelClass}><slot /></span>
</span>
