---
import type { Page } from 'astro'
import type { HTMLAttributes } from 'astro/types'
import ButtonLink from '@/components/ButtonLink.astro'

interface Props extends HTMLAttributes<'div'> {
  page: Page
}

const { page, class: classNames, ...attrs } = Astro.props
---

<div
  class:list={['flex justify-center items-center space-x-8', classNames]}
  {...attrs}
>
  <ButtonLink href={page.url.prev}>
    {'<- Prev'}
  </ButtonLink>
  <span class="font-pixelify text-xl text-white dark:text-gh-dimmed-text"
    >{page.currentPage}</span
  >
  <ButtonLink href={page.url.next}>
    {'Next ->'}
  </ButtonLink>
</div>
