---
import PixelContainer from './PixelContainer.astro'
import Icon from '@/components/Icon.astro'
import { SearchModalResult } from './solid/SearchModalResult'

const isDev = import.meta.env.DEV
---

<dialog id="dialog">
  <PixelContainer class="p-4">
    <div class="flex items-center">
      <Icon name="search" class="h-8 w-8 text-kodot-blue" />
      <div class="ml-4 w-full">
        <input
          id="input"
          type="search"
          placeholder="Search"
          autofocus
          class="w-full p-2 bg-transparent"
        />
      </div>
    </div>
    <div class="mt-2 font-ps2 text-[10px] flex space-x-2 justify-end">
      <div>
        <input type="checkbox" id="check-articles" checked />
        <label for="check-articles">Articles Only</label>
      </div>
    </div>
  </PixelContainer>
  <PixelContainer class="mt-4 result">
    <SearchModalResult client:idle />
  </PixelContainer>
</dialog>

<script is:inline define:vars={{ isDev }}>
  document.addEventListener('DOMContentLoaded', async () => {
    if (isDev) {
      return
    }

    const pagefind = await import('/pagefind/pagefind.js')
    pagefind.init()
    pagefind.filters()

    window.pagefind = pagefind
  })
</script>

<style>
  #dialog {
    @apply p-2 my-4 bg-transparent w-full max-w-xl text-current;
  }
  #dialog::backdrop {
    @apply backdrop-blur-sm bg-black bg-opacity-50;
  }
  :global(.dark) #dialog::backdrop {
    @apply bg-white bg-opacity-10;
  }

  #input {
    border-width: 4px;
    border-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='m2,0h2v2h2v2h-2v2h-2v-2h-2v-2h2z' fill='rgb(34,39,46)' /></svg>")
      2;
    background-clip: padding-box;
  }
  :global(.dark) #input {
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='m2,0h2v2h2v2h-2v2h-2v-2h-2v-2h2z' fill='rgb(173,186,199)' /></svg>");
  }
  #input::placeholder {
    @apply font-ps2;
  }
</style>
